body {
  font-family: $font__oxygen;
}

.page-layout {
  background-color: $color-slate-800;
  background-image: url('~assets/img/page-bg.jpg');
  background-repeat: no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:visited {
    color: inherit;
  }

  &:hover,
  &:focus,
  &:active {
    color: inherit;
    border: 0;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
