body {
  /* stylelint-disable-next-line */
  --scrollbar: 0px;
  font-family: $font__oxygen;
  background: $color-black-100;
}

.container {
  --container-padding: #{rem(16px)};
  max-width: $size__container-max-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);

  @include breakpoint('medium') {
    --container-padding: #{rem(32px)};
  }

  &--full {
    @include vw100();
  }
}

.content-wrapper {
  max-width: $size__content-max-width;
  margin-right: auto;
  margin-left: auto;
}

.page-layout {
  background-color: $color-slate-800;
  background-image: url('~assets/img/page-bg.jpg');
  background-repeat: no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:visited {
    color: inherit;
  }

  &:hover,
  &:focus,
  &:active {
    color: inherit;
    border: 0;
  }

  &:focus {
    outline: thin solid $color-focus;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
