div {
  &:not(:last-child)::after {
    content: '';
    display: flex;
    max-width: $size__line-max-width;
    margin-top: rem(32px);
    margin-bottom: rem(32px);
    // border-bottom: 1px solid $color-ltblue-175;
    border-bottom: 1px solid #0ff0ff;

    @include breakpoint('small') {
      max-width: 100%;
    }
    @include breakpoint('medium') {
      max-width: 100%;
    }
    @include breakpoint('large') {
      max-width: 100%;
    }
  }
}
