.page {
  &__header {
    @extend %page-header;
  }

  &__title {
    color: $color-white-100;
    @extend %font-ui-heading-page-title-base;
    text-align: center;
  }

  &__desc,
  &__sub-desc {
    max-width: $size__content-max-width;
    margin-right: auto;
    margin-left: auto;
  }

  &__desc {
    color: $color-white-180;
    @extend %font-ui-text-lg-oxygen;
    line-height: 1.75;
  }

  &__sub-desc {
    margin-top: rem(16);
    color: $color-white-140;
    @extend %font-ui-text-base-oxygen;
  }

  &__content {
    @extend %page-content;

    &.page__content--bg {
      @extend %page-content-bg;
    }
  }
}
