// Post content

.entry-content {
  @extend %page-content-bg;
  @extend %font-post-text-lg;

  > *:not([class]):not(ul):not(ol) {
    padding: 0 calc(50% - #{$size__content-max-width} / 2);
  }

  a {
    color: $color-slate-690;
    text-decoration: underline;
    text-decoration-color: $color-ltblue-175;
    text-underline-offset: 0.2em;

    .icon {
      transition: all 0.3s ease-in-out;
    }

    &:visited {
      color: $color-black-160;
    }

    &:hover {
      color: $color-orange-100;
      text-decoration-color: $color-orange-140;

      .icon {
        color: $color-orange-100;
        text-decoration-color: $color-orange-140;
      }
    }

    &:focus {
      color: $color-black-100;
      box-shadow: none;
    }
  }

  section {
    position: relative;

    a {
      display: flex;
      justify-content: center;
      margin-top: rem(70px);
      margin-bottom: rem(22px);
      color: $color-blue-170;
      text-align: center;
      text-decoration: none;
    }

    .icon {
      position: relative;
      top: 8px;
      margin-right: 4px;
      margin-left: 4px;
      color: $color-blue-170;
      font-size: rem(14px);
    }

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      right: 0;
      left: 0;
      display: flex;
      width: 100%;
      border-bottom: 1px solid $color-ltblue-100;
    }
  }

  figcaption {
    @extend %font-post-text-sm;
    padding-top: rem(8px);
    color: $color-black-160;
  }

  blockquote {
    position: relative;
    @extend %post-component--aside;

    p {
      @extend %font-post-text-blockquote;
      width: 100%;
      margin-bottom: rem(8);

      &::before {
        content: url('~assets/img/icon-quotes.svg');
        padding-right: rem(8px);
      }
    }
  }

  .layout-glossary {
    &__title {
      margin-bottom: rem(4px);
      @extend %font-post-heading-h2;
      color: $color-black-100;
      line-height: rem(29px);
      @include font-size(24px);
    }

    &__item {
      margin-bottom: rem(16px);
      @extend %font-post-text-md;
      color: $color-black-190;
    }

    &__further-reading {
      @extend %font-post-heading-table-title;
      color: $color-black-160;
      font-weight: 600;
      line-height: rem(20px);
      text-transform: uppercase;
      @include font-size(16px);
    }

    &__fr-item {
      margin-bottom: rem(16px);
      @extend %font-post-text-md;
      padding-top: rem(4px);
      color: $color-black-190;
    }
  }

  h2 {
    @extend %font-post-heading-h2;
    margin-top: rem(80px);
    margin-bottom: rem(16px);
    color: $color-black-190;
    line-height: rem(48px);
    text-transform: uppercase;
  }

  h3 {
    @extend %font-post-heading-h3;
    margin-top: rem(40px);
    margin-bottom: rem(16px);
  }

  h4 {
    @extend %font-post-heading-h4;
    margin-bottom: rem(8px);
  }

  p {
    margin-bottom: rem(24px);

    @include breakpoint('medium') {
      margin-bottom: rem(32px);
    }
  }

  .table {
    margin: 0 rem(80px);
  }

  table {
    @extend %font-post-text-md;
    width: 100%;
    margin: rem(32px) 0;
    text-align: left;
    border-collapse: collapse;

    caption {
      @extend %font-post-heading-table-title;
      color: #14171a;
      text-align: center;
    }

    thead {
      @extend %font-ui-text-base-oxygen;
      font-weight: bold;
      border-bottom: 1px solid $color-black-120;
    }
    /* stylelint-disable */
    tbody tr:nth-child(odd) {
      background-color: $color-ltblue-115;
    }
    /* stylelint-enable */

    th,
    td {
      padding: rem(12px) 0 rem(12px) rem(24px);
      color: $color-black-190;
    }

    p {
      margin-bottom: 0;
    }
  }

  sup {
    @extend %font-post-text-footnote-superscript;
    color: $color-orangedull-100;

    &:hover {
      color: $color-orange-100;
    }
  }

  .easy-footnote {
    a {
      text-decoration: none;
    }
  }

  ul,
  ol {
    max-width: $size__content-max-width;
    margin: 0 auto rem(32) auto;
    padding-left: rem(56);
    @extend %font-post-text-lg-list;
  }

  li + li {
    margin-top: rem(8);
  }

  ul li::marker {
    font-size: 0.8em;
  }
}

/*----------  Images  ----------*/
.wp-block-image {
  width: 100%;
  max-width: $size__content-max-width;
  margin: rem(24) auto;

  img {
    width: 100%;
    height: auto;
  }

  .aligncenter {
    @extend %post-component--center;
  }

  .alignright,
  .alignleft {
    @extend %post-component--aside;
  }

  .alignwide {
    @extend %post-component--wide;
  }
}

/*----------  Twitter  ----------*/
.wp-block-embed-twitter {
  @extend %post-component--aside;
}
