// Post content

.entry-content {
  @extend %page-content-bg;
  @extend %font-post-text-lg;

  > *:not([class]):not(ul):not(ol) {
    padding: 0 calc(50% - #{$size__content-max-width} / 2);
  }

  a:not([class]) {
    color: $color-slate-690;
    text-decoration: underline;
    text-decoration-color: $color-ltblue-175;
    text-underline-offset: 0.2em;

    &:visited {
      color: $color-black-160;
    }

    &:hover {
      color: $color-orange-100;
      text-decoration-color: $color-orange-140;
    }

    &:focus {
      color: $color-black-100;
      box-shadow: none;
    }
  }

  figcaption {
    @extend %font-post-text-sm;
    padding-top: rem(8px);
    color: $color-black-160;
  }

  blockquote {
    position: relative;
    @extend %post-component--aside;

    p {
      @extend %font-post-text-blockquote;
      width: 100%;
      margin-bottom: rem(8);

      &::before {
        content: url('~assets/img/icon-quotes.svg');
        padding-right: rem(8px);
      }
    }
  }

  h2:not([class]) {
    @extend %font-post-heading-h2;
    margin-top: rem(56px);
    margin-bottom: rem(16px);
  }

  h3 {
    @extend %font-post-heading-h3;
    margin-top: rem(40px);
    margin-bottom: rem(16px);
  }

  h4 {
    @extend %font-post-heading-h4;
    margin-bottom: rem(8px);
  }

  p {
    margin-bottom: rem(24px);

    @include breakpoint('medium') {
      margin-bottom: rem(32px);
    }
  }

  .table {
    margin: 0 rem(80px);
  }

  table {
    @extend %font-post-text-md;
    width: 100%;
    margin: rem(32px) 0;
    text-align: left;
    border-collapse: collapse;

    caption {
      @extend %font-post-heading-table-title;
      color: #14171a;
      text-align: center;
    }

    thead {
      @extend %font-ui-text-base-oxygen;
      font-weight: bold;
      border-bottom: 1px solid $color-black-120;
    }
    /* stylelint-disable */
    tbody tr:nth-child(odd) {
      background-color: $color-ltblue-115;
    }
    /* stylelint-enable */

    th,
    td {
      padding: rem(12px) 0 rem(12px) rem(24px);
      color: $color-black-190;
    }

    p {
      margin-bottom: 0;
    }
  }

  sup {
    @extend %font-post-text-footnote-superscript;
    color: $color-orangedull-100;

    &:hover {
      color: $color-orange-100;
    }
  }

  .easy-footnote {
    a {
      text-decoration: none;
    }
  }

  ul,
  ol {
    max-width: $size__content-max-width;
    margin: 0 auto rem(32) auto;
    padding-left: rem(56);
    @extend %font-post-text-lg-list;
  }

  li + li {
    margin-top: rem(8);
  }

  ul li::marker {
    font-size: 0.8em;
  }

  /*----------  Last updated  ----------*/
  .last-updated {
    padding: 0 calc(50% - #{$size__content-max-width} / 2);

    &__date {
      margin-bottom: rem(16);
      @extend %font-post-text-sm;
      color: $color-black-160;
      font-weight: 400;
    }

    &__separator {
      margin-bottom: rem(48);
      border: 1px solid $color-black-120;
    }
  }
}

/*----------  Images & Video  ----------*/
.wp-block-image,
.wp-block-embed.is-type-video {
  width: 100%;
  max-width: $size__content-max-width;
  margin: rem(24) auto;

  img {
    width: 100%;
    height: auto;
  }

  .aligncenter {
    @extend %post-component--center;
  }

  .alignright,
  .alignleft {
    @extend %post-component--aside;
  }

  .alignwide {
    @extend %post-component--wide;
  }
}

/*----------  Video  ----------*/

.wp-block-embed.is-type-video {
  .wp-block-embed__wrapper {
    position: relative;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 */
    /* falls back to 16/9, but otherwise uses ratio from HTML */
    padding-bottom: calc(var(--aspect-ratio, 0.5625) * 100%);

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

/*----------  Twitter  ----------*/
.wp-block-embed-twitter {
  @extend %post-component--aside;
}
