// @forward 'functions';

@use 'sass:math';

/*=================================
=            Functions            =
=================================*/

$browser-context: 16px;
@function rem($size) {
  $rem-size: $size / $browser-context;
  @return #{$rem-size}rem;
}

$color__white: #fff;
$color__red: #f00;
