/*==============================
=          Placeholders        =
==============================*/

%font-ui-heading-page-title-base {
  font-family: $font__good;
  font-weight: 600;
  @include font-size(72px);
  line-height: 1.2;
}

%font-ui-heading-page-title-post {
  font-family: $font__good;
  font-weight: 500;
  @include font-size(48px);
  line-height: 1.2;
}

%font-ui-heading-post-block-title {
  font-family: $font__good;
  font-weight: 500;
  @include font-size(28px);
  line-height: 1.4;
}

%font-ui-heading-section-lg {
  font-family: $font__good;
  font-weight: 500;
  @include font-size(24px);
  line-height: 1.3;
}

%font-ui-heading-section-md {
  font-family: $font__good;
  font-weight: normal;
  @include font-size(20px);
  line-height: 1.2;
}

%font-ui-heading-section-sm {
  font-family: $font__good;
  font-weight: normal;
  @include font-size(18px);
  line-height: 1.1;
}

%font-ui-text-xsm-oxygen {
  @include font-size(10px);
  line-height: 1.4;
}

%font-ui-text-sm-oxygen {
  @include font-size(12px);
  line-height: 1.3;
  letter-spacing: 0.025em;
}

%font-ui-text-base-oxygen {
  @include font-size(14px);
  line-height: 1.4;
}

%font-ui-text-lg-oxygen {
  @include font-size(16px);
  line-height: 1.25;
}

%font-ui-text-sm-good {
  font-family: $font__good;
  @include font-size(12px);
  line-height: 1.3;
  letter-spacing: 0.01em;
}

%font-ui-text-base-good {
  font-family: $font__good;
  @include font-size(14px);
  line-height: 1.29;
}

%font-ui-text-lg-good {
  font-family: $font__good;
  @include font-size(16px);
  line-height: 1.25;
}

%font-post-text-xsm {
  @include font-size(14px);
  line-height: 1.4;
}

%font-post-text-sm {
  @include font-size(15px);
  line-height: 1.4;
}

%font-post-text-md {
  @include font-size(17px);
  line-height: 1.4;
}

%font-post-text-lg {
  @include font-size(18px);
  line-height: 1.8;
}

%font-post-heading-h2 {
  font-family: $font__good;
  font-weight: 500;
  @include font-size(40px);
  line-height: 1.2;
}

%font-post-heading-h3 {
  font-family: $font__good;
  font-weight: 500;
  @include font-size(32px);
  line-height: 1.1875;
}

%font-post-heading-h4 {
  font-family: $font__good;
  font-weight: 500;
  @include font-size(26px);
  line-height: 1.2;
}

%font-post-heading-table-title {
  font-family: $font__good;
  font-weight: 500;
  @include font-size(22px);
  line-height: 1.2;
}

%font-post-text-lg-list {
  @include font-size(18px);
  line-height: 1.5;
}

%font-post-text-blockquote {
  font-family: $font__good;
  font-weight: 500;
  @include font-size(28px);
  line-height: 1.2;
}

%font-post-text-footnote-superscript {
  font-family: $font__good;
  font-weight: 500;
  @include font-size(14px);
  line-height: 1;
}

%font-post-text-footnote-list {
  @include font-size(15px);
  line-height: 1.4;
}

%page-header {
  margin-top: rem(32px);
  margin-bottom: rem(24px);

  @include breakpoint('medium') {
    margin-top: rem(48px);
    margin-bottom: rem(32px);
  }

  @include breakpoint('large') {
    margin-top: rem(54px);
  }
}

%page-content {
  padding-top: rem(32px);
  padding-bottom: rem(48px);

  @include breakpoint('medium') {
    padding-top: rem(64px);
    padding-bottom: rem(64px);
  }

  @include breakpoint('large') {
    padding-top: rem(80px);
    padding-bottom: rem(80px);
  }
}

%page-content-bg {
  color: $color-black-190;
  background: $color-white-100;

  // Ensures that background extends to edges on mobile devices
  @include breakpoint($break: 'medium', $dir: 'max-width') {
    @include full-width-background(
      $background: $color-white-100,
      $includeMargins: true
    );

    &::before,
    &::after {
      z-index: -1;
    }
  }
}

%full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

%post-component {
  --margin: #{rem(24px)};
  width: 100%;
  margin: rem(24px) auto;
  margin: var(--margin) auto;

  @include breakpoint('small') {
    --margin: #{rem(32px)};
  }
}

%post-component--aside {
  --max-width: 100%;
  --margin-right: auto;
  --margin-left: var(--margin-right);
  max-width: var(--max-width);
  margin-right: var(--margin-right);
  margin-left: var(--margin-left);

  @include breakpoint($break: 'small', $dir: 'max-width') {
    --max-width: 100vw;
    --margin-left: calc(50% - 50vw);
    width: var(--max-width);
  }

  @include breakpoint('small') {
    --max-width: 350px;
    --margin-right: 0;
    --margin-left: #{rem(32px)};
    float: right;
    margin-top: 0;
  }

  @include breakpoint('medium') {
    --margin-right: #{rem(32px)};
    --margin-left: #{rem(40px)};
  }
}

%post-component--center {
  max-width: $size__content-max-width;
}

%post-component--wide {
  --padding: #{rem(16px)};
  width: 100%;
  padding-right: var(--padding);
  padding-left: var(--padding);

  @include breakpoint($break: 'medium', $dir: 'max-width') {
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }

  @include breakpoint('small') {
    --padding: #{rem(32px)};
  }

  @include breakpoint('medium') {
    --padding: 6vw;
  }
}
