.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem-size(4);
  color: $color-white-190;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.025em;
  background: $color-blue-100;
  border-radius: 50%;

  &--large {
    width: rem-size(24);
    height: rem-size(24);
    margin: rem-size(8) auto;
    @include font-size(12px);
  }

  &--small {
    width: rem-size(16);
    height: rem-size(16);
    @include font-size(9px);
  }
}
