.copyright {
  color: $color-white-140;
  @extend %font-ui-text-sm-oxygen;

  a {
    position: relative;
    color: $color-white-150;
    text-decoration: underline;
    text-decoration-color: $color-ltblue-175;
    text-underline-offset: 0.2em;

    &:hover {
      color: $color-orangedull-100;
      text-decoration-color: $color-orangedull-100;
    }
  }

  .site-header & {
    span {
      display: block;
      margin-top: rem(4);
    }
  }

  .footer & {
    margin-top: rem(32px);

    @include breakpoint('medium') {
      margin-top: 0;
    }

    span {
      &::before {
        content: '|';
        margin: 0 rem(8px);
        color: $color-white-125;
      }
    }
  }
}
