.visualizer {
  .filter-results {
    position: relative;
    display: grid;
    grid-gap: rem(8);
    grid-template-areas:
      'total sort'
      'table table';
    grid-template-columns: auto min-content;
    margin-top: rem(24);
    padding-top: rem(24);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: calc(var(--panel-padding-side) * -1);
      left: calc(var(--panel-padding-side) * -1);
      display: block;
      height: 1px;
      background: $color-white-125;
    }

    &__total {
      grid-area: total;
      @extend %font-ui-heading-section-sm;
    }

    &__sort {
      grid-area: sort;
    }

    &__no-results {
      grid-area: table;
      margin-top: rem(16);
      color: $color-white-150;
    }

    // Extend table to edge of panel.
    .vgt-wrap {
      grid-area: table;
      margin: 0 calc(var(--panel-padding-side) * -1);

      &__footer {
        position: sticky;
        bottom: 0;
        background: $color-slate-300;
        border: 0;
        @include shadow(sm);
      }
    }

    .vgt-table {
      /* stylelint-disable max-nesting-depth, selector-max-compound-selectors */
      tbody tr:nth-of-type(odd) {
        background: $color-slate-700;
      }

      tbody tr:nth-of-type(even) {
        background: transparent;
      }

      th,
      td {
        &:first-of-type {
          padding-left: var(--panel-padding-side);
        }

        &:last-of-type {
          padding-right: var(--panel-padding-side);
        }
      }

      thead th {
        --cell-vertical-padding: #{rem(16)};
      }

      td {
        --cell-vertical-padding: #{rem(12)};
      }
      /* stylelint-enable */
    }

    .footer {
      &__row-count {
        display: none;
      }

      &__navigation {
        float: none !important;
        @extend %font-ui-text-base-oxygen;
        text-align: center;
      }

      &__navigation__page-info {
        margin: 0 rem(24) 0 0;
      }

      /* stylelint-disable-next-line */
      &__navigation__page-btn,
      &__navigation__page-btn span {
        @extend %font-ui-text-base-oxygen;
        font-weight: normal;
      }
    }
  }
}
