.focus-list {
  &__heading {
    display: flex;
    align-items: center;
    height: rem-size(48);
    margin: rem-size(16) 0;
    padding: rem-size(4) rem-size(12);
    @extend %font-ui-text-lg-oxygen;

    &--editing {
      background: $color-blue-100;
      border-radius: 50px;
    }
  }

  .btn--edit {
    margin: 0 0 0 auto;
  }

  .btn--remove {
    margin: 0 0 0 auto;
    padding-top: rem-size(8);
    padding-bottom: rem-size(6);
    background: $color-slate-600;
  }

  &__options {
    margin: 0;
    padding: 0;

    li {
      margin-bottom: rem-size(16);
    }
  }

  .btn--share {
    display: flex;
    gap: rem-size(4);
    align-items: center;
    margin-bottom: rem-size(24);
    padding: 0;
    letter-spacing: 0;
    text-transform: none;

    &:hover .icon {
      color: $color-white-100;
    }

    .icon {
      color: $color-white-190;
      transition: fill 0.3s ease-in-out;
    }
  }
}
