@import '~/node_modules/highcharts/css/highcharts';

.highcharts-root {
  font-family: $font__oxygen;
}

.highcharts-title {
  @extend %font-post-heading-h3;
  @extend %font-ui-heading-section-lg;
  font-size: 2em;
  fill: $color-white-170;
}

.highcharts-background {
  fill: transparent;
}

.highcharts-plot-background {
  fill: $color-slate-300;
}

.highcharts-xaxis-grid {
  stroke-width: 1px;
}

.highcharts-grid-line {
  stroke: $color-white-110;
}

.highcharts-legend text {
  font-family: $font__oxygen;
  font-weight: normal;
  font-size: 14px;
  fill: $color-white-180;
}

.highcharts-range-input text {
  font-weight: bold;
  fill: $color-offwhite;
}

.highcharts-range-selector-buttons {
  fill: $color-offwhite;
}

.highcharts-series-0 {
  stroke: $color-orange-100;
}

.highcharts-series-1 {
  stroke: $color-focus;
}

.highcharts-series-2 {
  stroke: $color-orange-100;
  stroke-dasharray: 3, 5;
}

.highcharts-series-3 {
  stroke: $color-focus;
  stroke-dasharray: 3, 5;
}

.highcharts-navigator-mask-inside {
  fill: rgba(0, 0, 0, 0);
  stroke: $color-offwhite;
}

.highcharts-navigator-mask-outside {
  fill: rgba(0, 0, 0, 0);
  stroke: rgba(0, 0, 0, 0);
}

.highcharts-navigator-outline {
  stroke: none;
}

/* stylelint-disable */
g.highcharts-navigator-series:nth-of-type(1n) {
  stroke: $color-focus;
}

g.highcharts-navigator-series:nth-of-type(3n) {
  stroke: $color-orange-100;
}
/* stylelint-enable*/

.highcharts-tooltip-header text {
  font-size: 1.5em;
}

.tooltip-line-color {
  font-size: 2.5em;
}

.tooltip-y {
  font-size: 1.5em;
}
