@import '~/node_modules/highcharts/css/highcharts';

.highcharts-root {
  font-family: $font__oxygen;
}

.highcharts-title,
.highcharts-subtitle {
  fill: $color-offwhite;
}

.highcharts-background {
  fill: $color-slate-395;
}

.highcharts-plot-background {
  fill: $color-slate-200;
}

.highcharts-axis-labels,
.highcharts-axis-title {
  fill: $color-offwhite; 
}

.highcharts-legend text {
  font-size: 14px;
  fill: $color-offwhite;
}

.highcharts-range-input text {
  font-weight: bold;
  fill: $color-offwhite;
}

.highcharts-range-selector-buttons {
  fill: $color-offwhite;
}

.highcharts-series-0 {
  stroke: $color-orange-100;
  stroke-dasharray: 20, 10;
}

.highcharts-series-1 {
  stroke: $color-ltblue-100;
}

