@import '~/node_modules/highcharts/css/highcharts';

.highcharts-root {
  font-family: $font__oxygen;
}

.highcharts-title,
.highcharts-subtitle {
  fill: $color-offwhite;
}

.highcharts-background {
  fill: $color-slate-395;
}

.highcharts-plot-background {
  fill: $color-slate-395;
}

.highcharts-axis-labels,
.highcharts-axis-title,
.highcharts-plot-line-label {
  fill: $color-offwhite;
}

.highcharts-legend text {
  font-size: 14px;
  fill: $color-offwhite;
}

.highcharts-range-input text {
  font-weight: bold;
  fill: $color-offwhite;
}

.highcharts-range-selector-buttons {
  fill: $color-offwhite;
}

.highcharts-series-0 {
  stroke: $color-orange-100;
}

.highcharts-series-1 {
  stroke: $color-focus;
}

.highcharts-series-2 {
  stroke: $color-orange-100;
  stroke-dasharray: 20, 5;
}

.highcharts-series-3 {
  stroke: $color-focus;
  stroke-dasharray: 20, 5;
}

// TODO fix nav mask
.highcharts-navigator-mask-inside {
  fill: rgba(0, 0, 0, 0);
  stroke: $color-offwhite;
}

// not working
.highcharts-navigator-mask-outside {
  fill: rgba(0, 0, 0, 0);
  stroke: rgba(0, 0, 0, 0);
}

.highcharts-navigator-outline {
  stroke: none;
}

/* stylelint-disable */
g.highcharts-navigator-series:nth-of-type(1n) {
  stroke: $color-orange-100;
}

g.highcharts-navigator-series:nth-of-type(3n) {
  stroke: $color-focus;
}
/* stylelint-enable*/
