.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke-width: 0;
  stroke: currentColor;
}

.icon-lightning {
  width: 0.5595703125em;
}

.icon-trash {
  width: 0.919921875em;
}

.icon-quotes {
  width: 1.0478515625em;
}

.icon-pan-hand {
  width: 0.8330078125em;
}

.icon-pan1-mouse {
  width: 0.8330078125em;
}

.icon-rotate-hand1 {
  width: 0.8330078125em;
}

.icon-rotate1-mouse1 {
  width: 0.8330078125em;
}

.icon-tilt-hand2 {
  width: 0.8330078125em;
}

.icon-zoom-hand3 {
  width: 0.8330078125em;
}

.icon-zoom1-mouse2 {
  width: 0.8330078125em;
}
