.itu {
  &__basic {
    @extend %font-ui-text-sm-oxygen;
    grid-template-columns: auto;
    color: $color-white-160;
    font-weight: bold;
    text-transform: uppercase;
    @include shadow(xsm);

    &:hover {
      background: $color-slate-300;
      @include shadow(sm);
    }
  }

  &__longitude {
    @extend %font-ui-text-lg-oxygen;
    margin-left: 16px;
    color: $color-white-180;
  }

  &__country {
    @extend %font-ui-text-base-oxygen;
    color: $color-white-180;
  }

  &__bands {
    @extend %font-ui-text-sm-oxygen;
    color: $color-white-180;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-content: center;

    svg {
      position: relative;
      top: 3px;
    }

    // TODO: won't work until svg is re-imported
    &svg:hover {
      color: $color-white-180;
    }
  }
}
