.header {
  @extend %font-ui-text-sm-oxygen;
  margin-bottom: rem(4px);
  color: $color-ltblue-175;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  @extend %font-ui-text-lg-oxygen;
  margin-bottom: rem(8px);
  color: $color-white-170;
}

.underline-here {
  text-decoration: underline;
}
