@import '~/assets/css/components/highcharts-theme';

.magic-chart {
  min-width: 45vw;
  min-height: 45vh;
}

.highcharts-axis-title {
  @extend %font-ui-text-lg-oxygen;
  font-family: $font__good;
  font-weight: 400;
  opacity: 0.8;
  fill: $color-white-180;
}

.highcharts-axis-labels text {
  @extend %font-ui-text-sm-oxygen;
  opacity: 0.4;
  fill: $color-white-180;
}

.legend-id {
  font-weight: 100;
  font-size: 10px;
  fill: $color-white-160;
}

.highcharts-plot-line-label {
  @extend %font-ui-text-xsm-oxygen;
  fill: #abadaf;
}

.data-sources {
  padding: rem(12) 0 0 0;
  border-top: 1px solid $color-white-115;
}

.data-source-title {
  color: $color-white-160;
  font-family: $font__good;
  font-weight: 400;
  font-size: 16px;
}

.data-source--sat-name {
  @extend %font-ui-text-base-oxygen;
  color: $color-white-170;
  font-weight: bold;
}

.data-source--source-name {
  @extend %font-ui-text-base-oxygen;
  margin-left: 0.6em;
  color: $color-white-170;
  font-weight: 400;
}

.data-source-time {
  @extend %font-ui-text-base-oxygen;
  margin-left: 0.4em;
  color: $color-white-140;
  font-size: 12px;
}

.export-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.export-btns--print {
  display: flex;
  gap: rem(4px);
  align-items: center;
  text-transform: none;
}

.export-btns * {
  @extend %font-ui-text-base-good;
  margin: 0 4px;
  color: $color-white-170;
  font-size: 14px;
}

.export-btns-download {
  @extend %font-ui-text-base-good;
  margin-right: 1em;
  color: $color-white-150;
}
