.magic-chart {
  min-width: 45vw;
  min-height: 60vh;
}

.loading {
  min-width: 30 vw;
}

.loading-text {
  margin-top: 1vh;
  font-size: 1.2em;
}

.data-source--sat-name {
  color: $color-white-170;
  font-weight: 500;
  font-size: 1.2em;
}

.data-source--source-name {
  margin-left: 0.6em;
  color: $color-white-170;
  font-weight: 400;
  font-size: 1.1em;
}

.data-source--time {
  font-size: 0.8em;
}
