@import '../abstracts/variables';
@import '../abstracts/placeholders';

.nav {
  @extend %font-ui-text-lg-oxygen;
  color: $color-white-170;
  text-transform: capitalize;

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;

    a {
      display: block;
    }

    &:hover {
      color: $color-white-180;
    }
  }

  &--header {
    &__item:not(:last-child) {
      margin-bottom: rem-size(16px);
    }

    &__glossary {
      @extend %font-ui-text-base-oxygen;
      color: $color-white-150;
    }
  }

  &--footer {
    @extend %font-ui-text-lg-oxygen;

    &__item:not(:last-child) {
      margin-bottom: rem-size(8px);
    }
  }

  .site-header & {
    &__item {
      margin-bottom: 0;

      a {
        padding: rem-size(12) var(--nav-padding-sides);
      }

      &:hover {
        background: $color-slate-800;
      }
    }
  }

  .footer & {
    &__list {
      margin-top: rem-size(4);
    }
  }
}
