.panel--left {
  height: 100%;
  padding: rem(56) 0 0;
  color: $color-white-170;
  @extend %font-ui-text-base-oxygen;
  background: $color-slate-600;
}

.panel-left {
  .panel__content {
    height: 100%;
    padding: 0 var(--panel-padding-side);
    overflow-y: auto;
  }

  .ak-vt {
    &__wrapper {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      @include z-index(panel);
      width: 100%;
      max-width: 360px;
      @include shadow(lg);
      transition: transform 0.3s ease-in-out;

      &--no-active-tab {
        transform: translateX(-100%);

        /* stylelint-disable max-nesting-depth */
        .btn--panel-close {
          visibility: hidden;
          opacity: 0;
        }
      }

      [data-is-faded='true'] {
        opacity: 0.3;
      }

      p {
        margin-bottom: 1rem;
      }
    }

    &__list {
      position: absolute;
      top: 0;
      left: 100%;
      @include z-index(panelLeftTabs);
      display: flex;
      flex-direction: column;
    }

    &__activator {
      --tab-bg: #{$color-slate-600};
      --tab-cut-out: invert(10%) sepia(11%) saturate(528%) hue-rotate(169deg)
        brightness(95%) contrast(99%);
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: rem($size__left-panel-tab-width);
      min-height: rem(56);
      margin-bottom: rem(41);
      padding-top: rem(24);
      color: $color-white-180;
      background: var(--tab-bg, $color-slate-600);
      border: 0;
      border-radius: 0 4px 0 0;
      cursor: pointer;
      filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.34)),
        drop-shadow(0 2px 5px rgba(0, 0, 0, 0.24)),
        drop-shadow(0 0 1px rgba(0, 0, 0, 0.44));
      transition: background 0.3s ease-in-out;

      &:hover {
        --tab-bg: #{$color-slate-400} !important;
        --tab-cut-out: invert(9%) sepia(9%) saturate(1146%) hue-rotate(169deg)
          brightness(92%) contrast(90%) !important;
      }

      &:focus {
        outline: 1px solid $color-focus;

        &::before {
          outline: 1px solid $color-focus;
        }
      }

      // Create before pseudo specifically for focus outline.
      &::before,
      &::after {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        display: block;
        width: rem(48);
      }

      &::before {
        top: calc(100% + 1px);
        height: rem(40);
      }

      &::after {
        top: 100%;
        height: rem(41);
        background-image: url('~static/tab.svg');
        background-repeat: no-repeat;
        filter: var(--tab-cut-out);
        transition: filter 0.3s ease-in-out;
      }

      // # of Filters Badge
      .badge--pinned {
        position: absolute;
        top: rem(12);
        left: rem(24);
      }
    }

    /* stylelint-disable */
    &__wrapper:not(.ak-vt__wrapper--no-active-tab)
      .ak-vt__activator[aria-selected='false'] {
      --tab-bg: #{$color-slate-800};
      --tab-cut-out: invert(3%) sepia(4%) saturate(6998%) hue-rotate(163deg)
        brightness(94%) contrast(93%);
    }
    /* stylelint-enable */
  }

  .btn--panel-close {
    height: $size__header-height;
  }
}
