.post-block {
  position: relative;
  display: grid;
  grid-template-columns: rem(150px) auto;
  align-items: center;
  column-gap: rem(16px);

  @include breakpoint('medium') {
    grid-template-columns: 70% 30%;
    column-gap: rem(40px);
  }

  &__category {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    color: $color-orange-180;
    @extend %font-ui-text-base-oxygen;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @include breakpoint('medium') {
      grid-column: 1 / span 1;
    }

    .visualizer {
      display: none;
    }
  }

  &__title {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    margin-top: rem(4px);
    color: $color-white-190;
    @extend %font-ui-heading-post-block-title;

    &:hover {
      color: $color-white-100;
    }

    @include breakpoint('medium') {
      grid-column: 1 / span 1;
      margin: 0;
    }

    .visualizer {
      @extend %font-ui-heading-section-md;
      padding-bottom: rem(2px);
      color: $color-white-190;
      font-weight: 500;
      letter-spacing: 0.025em;
      border-bottom: 1px solid $color-ltblue-175;
    }
  }

  &__author {
    margin-top: rem(16px);

    @include breakpoint('medium') {
      margin: 0 0 0 rem(40px);
    }
  }

  &__excerpt {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
    margin: rem(16px) 0 rem(24px) 0;
    color: $color-white-180;
    @extend %font-ui-text-lg-oxygen;
    line-height: 150%;

    @include breakpoint('medium') {
      grid-column: 1 / span 1;
      margin: rem(17px) 0 rem(32px) 0;
    }

    .visualizer {
      @extend %font-ui-text-base-oxygen;
      margin: rem(16px) 0;
      padding-bottom: rem(32px);
      color: $color-white-170;
      border-bottom: 1px solid $color-white-110;

      &:last-child {
        border-bottom: hidden;
      }
    }
  }

  &__image {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    align-self: start;
    justify-self: left;

    @include breakpoint('medium') {
      grid-column: 2 / span 1;
      grid-row: 1 / span 4;
    }

    .visualizer {
      display: none;
    }
  }
}
