.sat {
  &-list {
    margin: 0;
    padding: 0;
  }

  &__basic {
    .sat-list & {
      grid-template-columns: max-content auto max-content;
      margin-top: rem(16);
      padding: rem(16);
      background: $color-slate-400;
      border-radius: 3px;
      @include shadow(xsm);
      transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

      &:hover {
        background: $color-slate-300;
        @include shadow(sm);
      }
    }

    &--status {
      display: grid;
      grid-template-columns: max-content 2fr max-content max-content;
      column-gap: var(--marker-gap, rem(16));
      row-gap: rem(2);

      &-simple {
        grid-template-columns: max-content auto;

        /* stylelint-disable-next-line */
        .filter-results & {
          grid-template-columns: max-content minmax(auto, 128px);
        }
      }

      &::before {
        content: '';
        display: block;
        grid-column: 1;
        grid-row: 1;
        width: var(--marker-size, 10px);
        height: var(--marker-size, 10px);
        margin-top: var(--marker-top, 2px);
        background: var(--status, $color-slate-200);
        border-radius: 50%;
      }

      .sat__name {
        grid-column: 2;
        grid-row: 1;
      }

      .sat__id {
        grid-column: 2;
        grid-row: 2;
      }

      .sat__disclaimer {
        grid-column: 2;
        margin-top: rem(12);
        color: $color-white-160;
        @extend %font-ui-text-xsm-oxygen;
        letter-spacing: 0.025em;
      }
    }
  }

  &__name {
    color: $color-white-180;
    @extend %font-ui-text-lg-oxygen;
  }

  &__id {
    color: $color-white-160;
    @extend %font-ui-text-sm-oxygen;
  }

  &__status {
    width: 10px;
    height: 10px;
    background: var(--status, $color-slate-200);
    border-radius: 50%;
  }

  &__actions {
    display: flex;

    .sat-list & {
      grid-column: 3;
      grid-row: 1 / span 2;
    }

    button {
      padding-right: rem(4);
      padding-left: rem(4);
      @include font-size(18px);
    }
  }
}

/*----------  Status Colors  ----------*/
@each $stat, $color in $status {
  [data-status='#{$stat}'] {
    --status: #{$color};
    --status-bg: #{rgba($color, 0.3)};
  }
}
