.social-share {
  display: flex;
  align-items: center;
  margin: 0 rem(8px);
  color: $color-white-170;
  @extend %font-ui-text-sm-oxygen;

  .icon {
    margin-right: rem(8px);
    margin-left: rem(8px);
  }

  .share {
    display: flex;
    align-items: center;
    color: $color-ltblue-175;
    font-weight: bold;
    font-size: rem(12px);
    letter-spacing: 0.025em;
  }

  #copyText {
    margin: 0;
    padding: 0;
    background: none;
    border: 0;
  }
}
