@import '../abstracts/variables';
@import '../abstracts/placeholders';

.social-media {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 rem-size(8px);
  padding: 0;
  color: $color-white-170;
  @extend %font-ui-text-sm-oxygen;
  letter-spacing: 0.025em;

  .icon {
    margin-right: rem-size(8px);
    font-size: 1.4em;
  }

  a {
    display: flex;
    align-items: center;

    &:hover {
      color: $color-orangedull-100;
    }
  }

  .site-header & {
    flex-direction: column;
    align-items: flex-start;
    margin: rem-size(32) 0;

    /* stylelint-disable-next-line */
    > li + li {
      margin-top: rem-size(12px);
    }
  }

  .footer & {
    margin: rem-size(16px) 0;

    /* stylelint-disable-next-line */
    > li + li {
      margin-left: rem-size(16px);
    }
  }
}
