@import '../abstracts/placeholders';
@import '../abstracts/mixins';
@import '../abstracts/variables';

.status-types {
  margin: 0;
  padding: 0;
  @extend %font-ui-text-sm-good;

  li {
    position: relative;

    + li {
      margin-top: rem-size(8);
    }

    &::before {
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-right: rem-size(4);
      background: var(--status);
      border-radius: 50%;
    }
  }
}
