.tab--horizontal {
  z-index: 1;
  padding: 0;
  color: $color-white-150;
  @extend %font-ui-text-lg-oxygen;
  background: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: $color-white-100;
  }

  &::after {
    content: '';
    display: block;
    width: rem-size(32);
    height: 1px;
    margin-top: rem-size(8);
    background: $color-white-170;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s ease-in-out;
  }

  &[aria-selected='true'] {
    color: $color-white-180;

    /* stylelint-disable max-nesting-depth */
    &::after {
      transform: scaleX(1);
    }
  }

  + .tab--horizontal {
    margin-left: rem-size(24);
  }
}
