.tooltip {
  border: 1px solid #f0f;

  &__container {
    display: inline-block;

    > div {
      display: inline-block;
    }
  }

  &__trigger {
    display: inherit;
    margin: 0;
    padding: 0;
    color: inherit;
    background: transparent;
    border: 0;
    appearance: none;

    &--text {
      text-decoration: underline;
      text-decoration-style: dashed;
      text-underline-offset: 0.1em;
      text-decoration-color: $color-orange-100;
    }
  }

  &-theme {
    padding: rem(16);
    text-align: left;
    background: $color-slate-700;
    transform: none !important;
  }

  &__term {
    margin-bottom: rem(4);
    font-weight: bold;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

  &__term,
  &__term-def {
    color: $color-white-170;
    @extend %font-ui-text-base-oxygen;
  }

  &__term-def {
    margin-bottom: rem(8);
  }

  &__read-more {
    color: $color-white-160;
    @extend %font-ui-text-base-good;

    .icon {
      font-size: 0.75em;
    }
  }
}

[x-placement^='top'] .tooltip-theme .tippy-arrow {
  border-top: 8px solid $color-slate-700;
}

[x-placement^='bottom'] .tooltip-theme .tippy-arrow {
  border-bottom: 8px solid $color-slate-700;
}

/* stylelint-disable */
.tippy-popper[x-placement^='top']
  [data-animation='shift-away'][data-state='visible'] {
  // transform: none;
}
/* stylelint-enable */
