.footer {
  margin-top: 4em;
  margin-right: 2.5em;
  margin-bottom: 2em;
  margin-left: 2.5em;
  color: $color-white-180;
  @extend %font-ui-text-base-oxygen;
}

.footer__description {
  width: 37.5em;
}

.footer__learnMoreAboutHeader {
  @extend %font-ui-text-sm-oxygen;
  margin-bottom: rem(4px);
  color: $color-ltblue-175;
  font-weight: bold;
  text-transform: uppercase;
}

.footer__learnMoreAbout {
  @extend %font-ui-text-lg-oxygen;
  color: $color-white-170;
  text-decoration: underline;
  
  p {
    margin-bottom: rem(8px);
  }
}
