.footer {
  color: $color-white-180;
  @extend %font-ui-text-base-oxygen;

  .wrapper {
    display: grid;
    grid-column-gap: rem(54px);
    grid-template-areas: 'left left' 'nav orgs' 'copyright copyright';
    grid-template-columns: min-content auto;
    padding: rem(32px) 1.5rem 3.25rem 1.5rem; // when placing the respective pixels into the rem function the site breaks

    p {
      max-width: rem(416.5px); // See the mockups for this value
    }

    // Breakpoint into desktop
    @include breakpoint('medium') {
      display: grid;
      grid-template-areas: 'left . nav orgs' 'copyright copyright copyright copyright';
      grid-template-columns: max-content auto min-content 0.25fr;
      padding: rem(64px) 2.5rem 2rem;

      p {
        max-width: rem(600px); // See the mockups for this value
      }

      .footer__copyright {
        grid-area: copyright;
        margin-top: -0.5rem;
      }
    }
  }

  .footer__left {
    grid-area: left;
  }

  .footer__desc {
    color: $color-white-180;
    @extend %font-ui-text-base-oxygen;
  }
  
  .footer__nav {
    grid-area: nav;
  }

  .footer__organizations {
    grid-area: orgs;
    @extend %font-ui-text-base-oxygen;
    color: $color-white-170;

    a {
      @include link-underline($color-ltblue-175);
    }
  }

  .footer__copyright {
    grid-area: copyright;
  }

  h2 {
    @extend %font-ui-text-sm-oxygen;
    margin-bottom: rem(4px);
    color: $color-ltblue-175;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }

  li {
    margin-bottom: rem(8px);

    a {
      // color: $color-white-150;
      // // @include link-underline($color-ltblue-175);

      &:hover {
        color: $color-white-100;
      }
    }
  }
}
