@import '../abstracts/variables';
@import '../abstracts/mixins';

.site-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  @include z-index(header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $size__header-height;
  padding: rem-size(4) rem-size(12);
  pointer-events: none;

  .page-layout & {
    position: sticky;
    background: linear-gradient(180deg, #14171a 50%, rgba(20, 23, 26, 0) 100%);
    pointer-events: all;
  }

  &__masthead {
    display: flex;
    align-items: center;
    max-width: 360px;
    pointer-events: all;

    > .nuxt-link-active {
      flex: 1 1 auto;
      margin-left: rem-size(8);
      opacity: 0.7;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }

    .site-logo {
      max-width: 225px;
      height: auto;
    }
  }

  .btn--menu {
    display: flex;
    align-items: center;
    height: 40px;
    margin-top: -8px;
    @include font-size(24px);
    border-radius: 0;

    &:hover {
      color: $color-white-100;
    }
  }
}

.site-nav {
  --nav-padding-sides: #{rem-size(32)};
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  @include z-index(nav);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 360px;
  padding: rem-size(48) 0 rem-size(48);
  background: $color-slate-690;
  @include shadow(lg);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;

  &--is-visible {
    transform: translateX(0);
  }

  .btn--close {
    position: absolute;
    top: rem-size(16);
    right: rem-size(20);
    @include font-size(18px);
  }

  &__footer {
    margin: 0 var(--nav-padding-sides);
  }
}
